.container {
    margin-top: 150px;
    padding: 10px;
}
.container h1{
    font-size: 1.7rem;
    color:rgb(205, 31, 31);
   
    
}

.cards{
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
}
@media (max-width: 900px) {
    .container {
        text-align: center;
    }
   .container .cards {
    /* در حالت عمودی باعث میشه کارت به وسط بیان */
    justify-content: space-around;
      flex-wrap: wrap;
    }
  }