.container{
    padding: 10px;
}
.container h2{
    margin-top: 100px;
}
.container p{
    margin-top: 15px;
    margin-bottom: 100px;
}
@media (max-width: 900px) {
    .container h2  {
        text-align: center;
    }

  }